<IfModule mod_rewrite.c>

RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^clientes/(.+)/id(.+)/?$ views/vercliente_view.phtml?nombre=$1&id=$2

</IfModule>